*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;  
    text-transform: capitalize;  
}

.inner-section{
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 250px ;
    grid-template-rows:100px 1fr 1fr 100px ;
    justify-self: center;
}

/* top - section */

.top-section{
    width: 100%;
    height: 100px;
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: #31a0d3;
    background-image: url("../image-section/haeder-bg.png");
    display: flex;
}
.pmist-log{
    width: 255px;
    height: 100%;
    margin-top: 1px;
    background-image: url("../image-section/pmu-logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.page-tittle{
    color: white;
    margin: auto;
}
.side-bar{
    margin: auto 0 auto 255px;
}

/* content section */

.text-section{
    margin-top: 30px;
    grid-row: 2/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 40px 40px 0.5fr 40px 0.5fr 40px 0.5fr 40px 0.5fr 40px 0.5fr 1fr;
}
.heading{
    align-self: center;
    font-size: 13px;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;    
    text-transform: capitalize;
    grid-column: 1/3;
}
.main-heading{
   grid-row: 1/2;
}
.introduction{
    grid-row: 2/3;
}
.heading-1{
    grid-row: 3/4;
}
.heading-2{
    grid-row: 5/6;
}
.heading-3{
    grid-row: 7/8;
}
.heading-5{
    grid-row: 11/12;
}
.par{
    margin-left: 40px;
    grid-column: 1/3;
    align-self: center;
}
.par-1{
    grid-row: 4/5;    
}
.par-2{
    grid-row: 6/7;    
}
.par-3{
    grid-row:8/9 ;
}
.par-4{
    grid-row: 10/11;
}
.par-5{
    grid-row: 12/13;
}
.par-6{
    font-size: 13px;
    grid-row: 13/14;
    grid-column: 1/-1;
    text-align: center;
    font-family: "Roboto", sans-serif;    
    text-transform: capitalize;
}

/* side bar element */

.side-bar-element{
    background-image: url("../image-section/bg-img.jpg");
    width: 100%;
    height: 100%;
    background-color:hsl(0, 0%, 100%);
    grid-row: 1/-1;
    grid-column: 4/5;
    z-index: 1;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 10px 0 0 10px;
    display: none;
}
.menu-section{
    width:100%;
    height:100px;
    align-items: center;
    display: flex;
    background-color: #31a0d3;
    background-image: url("../image-section/haeder-bg.png");
    border-radius: 10px 0 5px 5px;
}
.menu-section h1{
    font-size: 30px;
    color: #ffffff;
    margin: 0 auto 0 auto;
}
.menu-section i{
    margin: 0 0 0 10px ;
}
.element{
    margin: 20px auto 0 auto;
    border-radius: 10px;
    width: 95%;
    height: 50px;
    align-content: center;
    color: rgb(255, 255, 255);
    background-color:#31a0d3;
    cursor: pointer;
    display: flex;
}
.element a{
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
    margin:auto auto;
}
.firstelement{
    margin-top: 50px;
}


/* final btn section */

.process-btn{
    grid-row: 4/5;
    grid-column: 4/5;
    width: 200px;
    background-color: #31a0d3;
    height: 50px;
    align-self: center;
    align-content: center;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.process-btn a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;    
    font-size: 15px;
    color: white;
    text-transform: capitalize;
}
.recreated-details{
    height: 30px;
    font-weight: bold;
    width: fit-content;
    margin: 0 10px 0 auto;
    align-content: center;
}


@media screen and (max-width:500px){
    .inner-section{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-section{
        height: 85px;
    }
    .pmist-log{
        align-self: center;
        width:86px;
        height: 80px; 
        background-image: url("../image-section/logo-1.png");
        border-radius: 10px;
    }
    .page-tittle{
        width: 50%;
        text-align: center;
        font-size: 12px;
    }
    .side-bar{
        margin-left: 0;
    }
    .text-section{
        margin-top: 0;
        gap: 10px;
    }
    .main-heading{
        width: fit-content;
        justify-self: center;
    }
    .heading{
        margin-left: 10px;
        grid-column: 1/-1;
    }
    .par{
        grid-column: 1/-1;
        font-size: 14px;
        margin: 0 10px 0 15px;

    }
    .par-6{
        margin: 0 10px 0 10px;
        text-align: center;
        font-weight: bold;
    }
    .process-btn{
        position: relative;
       margin: 20px 0 30px 0 ;
    }
    .menu-section{
        height: 85px;
    }
    .side-bar-element{
        height: 99.8vh;
        width: 60%;
        position:fixed;
        right: 0;
    }
}
