*{
    margin: 0%;
    padding: 0%;
}

.inner-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px minmax(400px,1fr) 250px;
    grid-template-rows: 100px 1fr 100px ;
}
.topsection{
    background-image: url(image-section/haeder-bg.png);
    background-color: #31a0d3;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.logo{
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    object-fit: contain;
}
.nav-brain{
    width: 200px;
    height: 80px;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: azure;
    align-self: center;
    border-radius:5px;
    justify-self: center;
    cursor: pointer;
}
.nav-brain h2{
    font-family: "Roboto Condensed", sans-serif;
    color: #31a0d3;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    color: #080808;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain span{
    color: #31a0d3;
    font-size: 15px;
}
.page-tittle{
    font-size: 23px;
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    text-transform: capitalize;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
}
.login-page{
    grid-row: 2/3;
    grid-column: 2/3;
    width: 450px;
    height: 500px;
    background: #ffffffc4;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    box-shadow:2px 5px 10px gray ;
}
.log-heading{
    font-family: "Roboto Condensed", sans-serif;
    grid-row: 1/2;
    align-content: center;
    justify-items: center;
    text-transform: capitalize;
}
.login-btn{
    width:90% ;
    height: 60px;
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #31a0d3;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    align-content: center;
    cursor: pointer;
}
.login-btn h2{
    justify-self: center;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
}
.reg-section{
    justify-self: center;
    grid-row: 2/3;
    width: 90%;
    height: 95%;
    border:  1px solid rgb(158, 152, 152);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px 20px 50px 20px 50px 1fr 50px;
    grid-template-columns: 0.7fr 1fr;
}
.reg-tittle{
    align-self: center;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
    margin-left: 20px;
}
.reg-number-tittle{
    grid-row: 3/4;
}
.rg-pass-tittle{
    grid-row:5/6;
}
.password{
    grid-row:5/6;
    grid-column: 2/3;
}
.user-id{
    grid-row: 3/4;
    grid-column: 2/3;
}
.reg-input{
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: "Roboto Condensed", sans-serif;
    align-self: center;
    width: 70%;
    height: 40px;
    justify-self: center;
    padding-left: 20px;
}
.forgot-pass{
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-right: 30px;
    font-family: "Roboto Condensed", sans-serif;
    grid-row: 7/8; 
    grid-column: 2/3;
    align-self: center;
    justify-self: end;
    text-transform: capitalize;
}
.reg-heading{
    grid-column: 1/-1;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
    justify-self: center;
    align-self: center;
}
.information{
    font-family: "Roboto Condensed", sans-serif;
    grid-row: 6/7;
    grid-column: 1/-1;
    margin: 0 5px 0 20px;
    align-self: end;
    text-transform: capitalize;
}