*{
    padding: 0;
    margin: 0;
}

.inner-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 250px ;
    grid-template-rows:100px 1fr 1fr 200px ;
    justify-self: center;
}
.pmu-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 1/2;
    grid-column: 1/2;
    cursor: pointer;
}
.nav-brain{
    width: 200px;
    height: 80px;
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: azure;
    align-self: center;
    border-radius:5px;
    justify-self: center;
    cursor: pointer;
}
.nav-brain h2{
    font-family: "Roboto Condensed", sans-serif;
    color: #31a0d3;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    color: #080808;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain span{
    color: #31a0d3;
    font-size: 15px;
}
.backgroung-img{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image:url(image-section/haeder-bg.png) ;
    background-color: #31a0d3;
}
.text-section{
    margin-top: 30px;
    grid-row: 2/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 40px 40px 0.5fr 40px 0.5fr 40px 0.5fr 40px 0.5fr 40px 0.5fr 0.5fr;
}
.heading{
    align-self: center;
    font-size: 13px;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    grid-column: 1/3;
}
.main-heading{
   grid-row: 1/2;
}
.introduction{
    grid-row: 2/3;
}
.heading-1{
    grid-row: 3/4;
}
.heading-2{
    grid-row: 5/6;
}
.heading-3{
    grid-row: 7/8;
}
.heading-5{
    grid-row: 11/12;
}
.par{
    margin-left: 40px;
    grid-column: 1/3;
    align-self: center;
}
.par-1{
    grid-row: 4/5;    
}
.par-2{
    grid-row: 6/7;    
}
.par-3{
    grid-row:8/9 ;
}
.par-4{
    grid-row: 10/11;
}
.par-5{
    grid-row: 12/13;
}
.par-6{
    font-size: 13px;
    grid-row: 13/14;
    grid-column: 1/-1;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

.process-btn{
    grid-row: 4/5;
    grid-column: 4/5;
    width: 200px;
    background-color: #31a0d3;
    height: 50px;
    align-self: center;
    align-content: center;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.process-btn p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    text-transform: capitalize;
}