*{
    padding: 0;
    margin: 0;
}

.inner-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 250px ;
    grid-template-rows:100px 1fr 1fr 200px ;
    justify-self: center;
}
.pmu-logo{
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-row: 1/2;
    grid-column: 1/2;
    cursor: pointer;
}
.nav-brain{
    width: 200px;
    height: 80px;
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: azure;
    align-self: center;
    border-radius:5px;
    justify-self: center;
    cursor: pointer;
}
.nav-brain h2{
    font-family: "Roboto Condensed", sans-serif;
    color: #31a0d3;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain p{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    color: #080808;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    padding-top: 5px;
}
.nav-brain span{
    color: #31a0d3;
    font-size: 15px;
}
.backgroung-img{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image:url(image-section/haeder-bg.png) ;
    background-color: #31a0d3;
}
.text-section{
    margin-top: 30px;
    grid-row: 2/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 60px 0.5fr 60px 1fr 60px 0.5fr 60px 1fr;
}
.heading{
    align-self: center;
    font-size: 12px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
}
.heading-1{
    font-size: 15px;
    grid-row: 1/2;
    grid-column: 1/3;
}
.heading-3{
    grid-row: 3/4;
}
.heading-4{
    grid-row: 5/6;
}
.heading-5{
    grid-row: 7/8;
    grid-column: 1/3;
}
.par{
    grid-column: 1/-1;
    margin-left: 50px;
}
.par p{ font-size: 18px;}
.par-1{
    grid-row: 2/3;
}
.circular-post{
    grid-row: 2/4;
    grid-column: 3/5;
}
.circular-post img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.process-btn{
    grid-row: 4/5;
    grid-column: 4/5;
    width: 200px;
    background-color: #31a0d3;
    height: 50px;
    align-self: center;
    align-content: center;
    justify-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.process-btn p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    text-transform: capitalize;
}